.bg-login{
    position: relative;
}
.inner-bg-login{
    clip-path: polygon(0px -85%, 100% 10%, 100% 100%, 0% 100%);
    background-color: var(--primary-white);
    z-index: 10;
    height: 100%;
    width: 100%;
}
.formLogin{
    width: 300px;
    >div{
        width: 100%;
    }
}

.switch{
    width: auto;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: 0;
    outline: none;
    padding:0;
    svg{
        font-size: 50px;
    }
}

//QR CODE
.qrcode{
    width: 80% !important;
    height: 80% !important;
    margin-top: -20px;
}